<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>CSDS 404</title>
        <link rel="stylesheet" type="text/css" href="{% static 'assets/css/style.css' %}">
    </head>
    <body>
        <section id="portfolio" class="portfolio">
              <div class="container">
                <div class="section-title">
                  <h2>Error 403</h2>
                    This Connection is Forbidden<br/>
                  <a href="{% url 'home' %}">Home</a>
                </div>
              </div>
        </section>
    </body>
</html>


