<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>CSDS 500</title>
        <link rel="stylesheet" type="text/css" href="{% static 'assets/css/style.css' %}">
    </head>
    <body>
        <section id="portfolio" class="portfolio">
              <div class="container">
                <div class="section-title">
                  <h2>Error 500</h2>
                  <p>Something went wrong</p>
                  <a href="{% url 'home' %}">Home</a>
                </div>
              </div>
        </section>
    </body>
</html>