  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center justify-content-between">
      <h1 class="logo"><a href="/">CoSieDziejeSie</a></h1>

      <nav id="navbar" class="navbar">
        <ul>
          {% if request.user.is_authenticated %}
          <li><a class="nav-link" href="{% url 'create-room' %}">Dodaj wydarzenie</a></li>
          {% endif %}
          <li><a class="nav-link" href="{% url 'history' %}">Minione</a></li>
          {% if request.user.is_authenticated %}
          <li><a class="nav-link" href="{% url 'profile' request.user.id %}">Mój profil</a></li>
          {% endif %}
          {% if not request.user.is_superuser and request.user.is_authenticated %}
          <li><a class="nav-link" href="#">Support</a></li>
          {% endif %}
          {% if request.user.is_superuser %}
          <li><a href="{% url 'admin:index' %}"><span>Panel Admina</span></a></li>
          {% endif %}
          {% if request.user.is_authenticated %}
          <li><a class="nav-link" href="{% url 'logout'  %}">Wyloguj {{ request.user }}</a></li>
          {% else %}
          <li><a class="nav-link" href="{% url 'login_page' %}">Login</a></li>
          {% endif %}

        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>

      </nav><!-- .navbar -->

    </div>
  </header>
  <!-- End Header -->